@import "tailwindcss";

@theme {
  --color-cosmic: #FFF8E7;    /* Cream lembut */
  --color-sangria: #930500;   /* Merah ceri gelap */
  --color-cornflower: #95BBEA; /* Biru muda cerah */
}

body {
  background-color: var(--color-cosmic);
  color: #1a1a1a;
}